.editIcon, .deleteIcon{
    cursor: pointer !important;
}
.ancillary_update_form > label{
    color: #fff;
    margin: 2px;
}
.ancillary_update_form>input{
    outline: none;
}
.ancillary_update_form > button{
    background-color: #fff;
    border-radius: 2px;
    color: #2b2b2b;
    padding: 5px;
    margin: 5px;
}
